<p id="notice"><%= notice %></p>

<h1>Log in</h1>
<h2>Please, sign in using your account credentials.</h2>

<%= form_tag session_path do %>
    Username<br>
    <%= text_field_tag :name, params[:name] %><br>
    Password<br>
    <%= password_field_tag :password, params[:password] %>
  <%= submit_tag "Log in"%>
<% end %>
